// pug 용 파일
doctype html 
html 
    head 
        title= title
    body 
        if title
            h1 Hello! This is #{title}
        else 
            h1 title is not defined

        ul
            each item in items 
                li= item